.rule_is_deactive {
    text-decoration: line-through;
    color: rgb(107, 0, 0);
}
.rule_status_deactive {
    color: red;
}
.rule_status_active {
    color: green;
}
.page-links a, .page-links .page-numbers.dots {
    border: 1px solid #2271b1;
    padding: 10px 14px 10px 14px;
    border-radius: 4px;
    background-color: #f6f7f7;
    text-decoration: none;
    margin-left: 5px;
}
.page-links .page-numbers.current, .page-links a:hover {
    border: 1px solid #132f66;
    padding: 10px 14px 10px 14px;
    border-radius: 4px;
    background-color: #2271b1;
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}
.text-danger {
    color: red;
}
.mt-4 {
    margin-top: 4px;
}
/* @media screen and (min-width: 782px) {
     .d-none-sm {
        /* display: unset; 
    } 
} */
@media screen and (max-width: 782px) {
    .mt-4 {
        margin-top: 9px;
    }
    .d-none-sm {
        display: none;
    }
    .table-responsive-sm .d-blockize-sm {
        display: block;
    }
}